body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    line-height: 1.5;
}

h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: -2%;
}

h1, h2 {
    text-align: center;
}

h2, h3 {
    color: #2E2F42;
}

.first-section {
    font-weight: 700;
    color: #FFFFFF;
    background-color: #2E2F42;
}

.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 4%;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

button {
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: #434455;
    font-style: normal;
}

ul {
    list-style-type: none;
}

.team {
    background-color: #F4F4FD;
}

.team li {
    background-color: #FFFFFF;
}

.team h3,
.team p {
    text-align: center;
}

.footer {
    font-weight: 400;
    color: #F4F4FD;
    background-color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 3%;
    color: #2E2F42;
}

.footer .logo {
    color: #F4F4FD
}

.accent {
    color: #4D5AE5;
}

.page-nav .link {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
}

.contacts .link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 2%;
}

.page-nav .link:hover,
.page-nav .link:active,
.page-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
    color: #404BBF;
    }

    .first-section p,
    .team p,
    .features p {
       font-size: inherit; 
       line-height: inherit;
       font-weight: 400;
       letter-spacing: 2%;
    }

    .first-section h3,
    .team h3,
    .features h3 {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 2%;
    }
