body {
    font-family: "Roboto", sans-serif;
    background-color: #FCFCFC;
    color: #434455;
}

h1, h2 {
    text-align: center;
}

h2, h3 {
    color: #2E2F42;
}

.first-section {
    font-weight: 700;
    color: #FFFFFF;
    background-color: #2E2F42;
}

.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: inherit;
}

.button:hover {
    background-color: #404BBF;
}

button {
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: #434455;
    font-style: normal;
}

ul {
    list-style-type: none;
}

.team {
    background-color: #F4F4FD;
}

.team li {
    background-color: #FFFFFF;
}

.team h3,
.team p {
    text-align: center;
}

.footer {
    font-weight: 400;
    color: #FFFFFF;
    background-color: #2E2F42;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
}

.accent {
    color: #4D5AE5;
}

.page-nav .link:hover,
.page-nav .link:active,
.contacts .link:hover {
    color: #404BBF;
    }
